<div class="search_image">
<%= image_tag('logo.png') %></br>

<%= form_tag(places_path, :method => "get", id: "search-form", class: "addmargin") do %>
  Just pick a place on the globe... <br /><br>
  <%= text_field_tag :search, params[:search], placeholder: "Search Places...", class: "searchinput" %>
<% end %>


</div>
