<div class="givepaddings">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>X people:</strong>
  <%= @type.x_people %>
</p>

<p>
  <strong>Image:</strong>
  <%= @type.image %>
</p>


<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
</div>
