<%= simple_form_for @unit, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :amount %>
  <%= f.label :place_id %><br />
  <%= f.select :place_id, @places %><br />
  <%= f.label :type_id %><br />
  <%= f.select :type_id, @types %><br /><br />
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                units_path, :class => 'btn' %>
  </div>
<% end %>
