// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.google_map {
  border-top: 2px solid #39A6DD;
  border-bottom: 2px solid #39A6DD;
  padding-top:3px;
  padding-bottom:3px;
}