// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_image {
    background-image: image-url('search_image_background.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    text-align: center;
    -moz-box-shadow:    inset 0 5px 10px -6px #000000, inset 0 -5px 10px -6px #000000;
    -webkit-box-shadow: inset 0 5px 10px -6px #000000, inset 0 -5px 10px -6px #000000;
    box-shadow:         inset 0 5px 10px -6px #000000, inset 0 -5px 10px -6px #000000;
    padding-top: 80px;
    color: #FFF;
}
main {
  background-color: #FFF;
  min-height: 400px;
  padding:0px;
}
.center {
  padding-top: 200px;
  font-size: 3em;
  width: 100%;
  text-align: center;
}
.searchinput {
  width: 300px; 
  padding:6px 15px 6px 30px;
  margin:3px; 
  background: url('search.png') no-repeat 8px 6px; 
  background-color: rgba(255,255,255,0.9);
  color: #222;
  border: 1px solid #d0d0d0;
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
}