<%= simple_form_for @place, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>

<%= f.label :tag_list, "Tags (separated by commas)" %><br>
<%= f.text_field :tag_list %><br><br>
  <%= f.input :address %>
  <%= f.input :latitude %>
  <%= f.input :longitude %>
  <%= f.input :desc %>
  <%= f.simple_fields_for :units do |builder| %>
    <%= render 'unit_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Dodaj unit", f, :units  %>

    <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                places_path, :class => 'btn' %>
  </div>
<% end %>