<fieldset>
  <%= f.input :amount, label: 'Add Unit (you can change it\'s type it later)' %>
  <%= f.input :_destroy, as: :boolean, as: :hidden  %>
  <%= link_to 'remove unit', '#', class: 'remove_fields', remote: true %>
</fieldset>