<%- model_class = Place -%>

<script type="text/javascript">
  $( document ).ready(function() {
    handler = Gmaps.build('Google');
    handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(10);
  }
);
});
</script>

<div class="google_map">
  <div id="map" style='width: 100%; height: 300px;'></div>
</div>

<h1><%= @place.name %></h1>
<%= @place.address %><br><br>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @place.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @place.longitude %></dd>
<br>
<%= @place.desc %><br>
<% @place.units.each do |unit|  %>
    <%= unit.type.name if unit.type %> <%= unit.amount %> <br />
  <% end %>
<% if @place.tag_list.presence %>
<strong>Tags</strong> <%= @place.tag_list  %>

<% end %>

<!--
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @place.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @place.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @place.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @place.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:desc) %>:</strong></dt>
  <dd><%= @place.desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tag_list) %>:</strong></dt>
  <dd><%= @place.tag_list %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit) %>:</strong></dt>
  <dd><% @place.units.each do |unit|  %>
    <%= unit.type.name if unit.type %> <%= unit.amount %> <br />
  <% end %></dd>
</dl>
-->

<% if @place.geocoded? %>
  <% nearby_here =  @place.nearbys(80) %>
  <% if nearby_here.present? %>
    <h3>You may also like nearby places:</h3>
    <% nearby_here.each do |p| %>
      <%= link_to p.name, place_path(p) %>
    <% end %>
  <% end %>
<% end %>

<% if user_signed_in? %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              places_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_place_path(@place), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              place_path(@place),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>