<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Search', root_path, class: 'navbar-brand' %>
      

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      <li><%= link_to 'See all places', places_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Types', types_path %></li>
      <li><%= link_to 'Units', units_path %></li>
      <% end %>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <strong><%= current_user.email %></strong> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit account', edit_user_registration_path %></li>
              <li><%= link_to 'All users', users_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>  </li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
